.header-container {
 display: flex;
  gap: 30px;
  padding: 20px;
  justify-content: end;
  transform: translateY(-100px);
  margin-right: 40px;
}
.logo img {
  width: 135px;
  height: 82px;
  margin-left: 40px;
  padding: 20px;
}
.nave-list {
  display: flex;
  list-style: none;
  gap: 35px;
  font-size: 20px;
}
.nave-list a {
  text-decoration: none;
  color: black;
}
.cart-icon img{
  width: 60px;
  height: 50px;
}
.cart-text {
  font-size: 20px;
  margin-left: 25px;
  display: inline-block;
  transform: translateY(-15px);
  margin-left: 0px;
}
.Hero-conainer {
  display: flex;
  padding: 50px;
  justify-content: space-between;
}
.left-hero {
transform: translateY(30px);
margin-left: 20px;
}
.brand-title {
  color: #E95A08;
}
.left-hero h1 {
  font-size: 65px;
  transform: translateY(-25px);
}
.left-hero p {
  font-size: 22px;
  transform: translateY(-30px);
   opacity: 0.6;
}
.right-hero {
  margin-right: 20px;
}
.text-contain {
  text-align: center;
}
.text-contain h2 {
font-size: 50px;
}
.text-contain p {
  font-size: 22px;
  opacity: 0.6;
}
.products-container {
  padding-top: 40px;
}
.Products-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px;
  text-align: center;
  padding: 0 20px 40px 20px;
}
.product-item h3 {
  font-size: 22px;
}
.product-item p {
  font-size: 22px;
}
.btn-primary {
  background-color: #E95A08;
  color: #FFFFFF;
  font-size: 16px;
  border: none;
  width: 270px;
  height: 50px;
}
.column-section {
  display: flex;
  max-width: 1140px;
  margin: 40px auto;   
}
.left-column {
  flex: 1;
  position: relative;
}
.main-img {   
}
 .badge-img {
  position: absolute;
  top: -130px;
  right: 30px;
}
.right-column {
  padding: 40px 10px;
}
.right-column h2 {
 font-size: 50px;
 margin-bottom: 20px;
 font-weight: bold;
}
.right-column ul {
  padding-left: 20px;
}
.right-column li {
  margin-bottom: 15px;
  color: #555;
 font-size: 22px;
}
.badge-img {
  width: 286px;
  height: 286px;
}
.text-section {
  text-align: center;
}
.text-section h2 {
  font-size: 50px;
}
.text-section p {
  font-size: 22px;
  color: #555;
}



.left-img {
  padding: 20px;
}

.img-box {
  position: relative;
  transform: translate(70px);
}

.img-box img {
  border-radius: 20px;
  filter: brightness(70%);
}

.sub-title {
  position: absolute;
  bottom: 20px;
  text-align: center;
  left: 70px;
  top: 70px;
  color: white;
}

.sub-title p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.shop-now {
  margin-top: 6px;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}
.img-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  transform: translateY(60px);
}
.hero-img {
  flex-direction: column;
}
.side-img {
  padding: 30px;
}
.box-img {
 position: relative;
 transform: translate(-70px);
}
.box-img img {
  border-radius: 20px;
  filter: brightness(70%);
}
.mini-title {
  position: absolute;
  bottom: 20px;
  text-align: center;
  left: 290px;
  top: 170px;
  color: white;
}
.mini-title p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.shop-now-btn {
  margin-top: 6px;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}
.form-section {
  background-image: url(news-letter-bg.png);
  background-size: cover;
   background-repeat: no-repeat;
   width: 1648px;
   height: 533px;
   transform: translateY(70px);
}
.form-section h2 {
  font-size: 50px;
  color: #FFFFFF;
  text-align: center;
  transform: translatey(170px);
}
.form-section input {
  width: 480px;
  height: 50px;
  font-size: 16px;
  text-align: left;
  padding-left: 13px;
  border: none; 
   
}
.form-section input:focus {
  outline: none;
  box-shadow: 0 0 5px 2px rgb(255, 150, 204);
}
.btn-secondary {
  width: 186px;
  height: 55px;
  border: none;
  background-color: #E95A08;
  font-size: 16px;
  color: #FFFFFF;
}
.btn-secondary input {
  display: block;
  transform: translatey(170px);
}
.form-section input,
.form-section .btn-secondary {
  display: inline-block;
  margin-top: 150px;
  transform: translate(500px);
}
